$primary-color: #0b57d0;
$color-text-default: #ffffff;
$color-title: #1f1f1f;

.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title-page {
      font-size: calc(44/16*1rem);
      color: $color-title;
      margin-bottom: 1em;
      border-bottom: 1px solid #ebebeb;
      width: 100%;
      padding-bottom: 0.5em;
    }

    .panels-header {
      border-bottom: 1px solid #ebebeb;
    }

    .card-footer {
      margin-top: 1.5em;
      border-top: 1px solid #ebebeb;
      padding: 0px 5px;
    }    

    .btn-request {
      background-color: $primary-color;
      color: $color-text-default;
      margin-top: 1.5em;
    }

    .btn-confirm{
      margin-top: 1.5em;
    }

    @media only screen and (max-width: 600px) {
      .title-page {
        font-size: calc(12/10*1rem);
        font-weight: bold;
      }
    }
  }
  