$primary-color: #d7edf7;
$primary-text: #0b57d0;
$bg: #f0f4f9;

body {
  background-color: white;
  color: $primary-text;
}

.container {
  & .divider-container {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
}